version: '2'
services:
  treebase:
    image: "naturalis/treebase:0.0.1"
    restart: unless-stopped
    cpu_shares: 6
    mem_limit: 8589934592
    ports:
      - "8080:8080"
    depends_on:
      - db
    volumes:
      - "/var/log/treebase:/usr/local/tomcat/logs"
    env_file:
      - .env
    networks:
      - web
      - default
    labels:
      - "traefik.backend=treebase-tomcat"
      - "traefik.docker.network=web"
      - "traefik.enable=true"
      - "traefik.port=8080"
      - "traefik.frontend.rule=Host:${siteUrl},www.${siteUrl}"
  db:
    image: "postgres"
    restart: unless-stopped
    networks:
      - default
    volumes:
    - "/opt/treebaseimport:/import"
    - "/opt/treebasedb:/var/lib/postgresql/data"
  traefik:
    image: traefik:1.5.3
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
    networks:
      - web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${TRAEFIK_TOML_FILE}:/traefik.toml
      - ${ACME_JSON}:/acme.json
    container_name: traefik

# run docker network create web before
networks:
  web:
    external: true
